# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
dist/
build/
.next/
.nuxt/
.output/
.cache/

# Firebase
.firebase/
firebase-debug.log*

# Env files
.env*

# OS
.DS_Store

# Local clones / temp vendor copies
tmp-transak-sdk/
